/* src/index.css */
body {
  background-color: #ffe6f0;
}

h2 {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.bg-pink {
  background-color: #ffb3c1;
}

.btn-block {
  width: 100%;
}

.navbar {
  background-color: #ff6699;
}

.navbar-brand, .nav-link {
  color: white !important;
}
